/* Minimal dts based on
* https://github.com/torvalds/linux/blob/master/arch/arm64/boot/dts/rockchip/rk3588-base.dtsi */

/ {
	compatible = "rockchip,rk3588";
	#address-cells = <2>;
	#size-cells = <2>;
	fuboot {
		compatible = "futo,fuboot";
		method = "smc";
	};
	usb_host0_ohci: usb@fc840000 {
		compatible = "generic-ohci";
		//reg = <0x0 0xfc840000 0x0 0x10000>;
		status = "okay";
	};
	usb_host1_ohci: usb@fc8c0000 {
		compatible = "generic-ohci";
		//reg = <0x0 0xfc8c0000 0x0 0x10000>;
		status = "okay";
	};
};
